<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993115799049-vm3bnsa99r359ghbt0qv46a8rgjmf03r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993115799049-vm3bnsa99r359ghbt0qv46a8rgjmf03r</string>
	<key>API_KEY</key>
	<string>AIzaSyCgeZ0BEesrN9d4pdIe9gGCKKXSyV8SINg</string>
	<key>GCM_SENDER_ID</key>
	<string>993115799049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MEAUg1</string>
	<key>PROJECT_ID</key>
	<string>meaug1</string>
	<key>STORAGE_BUCKET</key>
	<string>meaug1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993115799049:ios:af55ab8a4588cfb09482d8</string>
</dict>
</plist>